    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h1>About {{page:title}}</h1>
              <br/>
                <h4><b>
                    Normally, we get what we know about hacking from the news and movies. However often times the difference between what's actually vulnerable to cyber attacks has become mixed with false myths. In this web series, we separate the realm of cyber attacks and hacking from its Hollywood version. This will allow you to better understand how to be more secure on the internet and less vulnerable to cyber attacks.
                </b></h4>
              </div>
        </div>
    </section>
